<head>
<title>
    <%= title %>
</title>
<style>
body{
    background-color: black;
    border-color: white;
    color: white;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script>

    function watching(){
      var txt, x, myObj;
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

//          $("tmpTag2").append(this.responseText);
          myObj = JSON.parse(this.responseText);
          txt = "<table border='1'>"
          for (x in myObj) {
              txt += "<tr><td>"+x+"</td><td>" + myObj[x] + "</td></tr>";
          }
          txt += "</table>"
          document.getElementById("tmpTag2").innerHTML = txt;
        }
      };

      var alias = "<%= IDname %>";
      xmlhttp.open("POST", "/watching/"+alias, true);
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.send();
      //xmlhttp.send("IDname="+alias+"&"+"password=" + enroll_pw);
    }
    function booking(){

      location.href="/booking/"+ "<%= IDname %>";
    }
    function manageWebPW(){
      location.href="/pwmanage/"+ "<%= IDname %>";
    }
    function manageBitcoinW(){
      alert("서비스준비중입니다.")
    }
    function manageAccessC(){
      alert("서비스준비중입니다.")
    }
    function managePrivateKey(){
      alert("서비스준비중입니다.")
    }
    function logout(){
      location.href="/logout";
    }
    </script>
</head>

    <% if(IDname){ %>
        <h2>Welcome! <%= IDname %> <%= amount %> </h2>
        <tmpTag2 id="tmpTag2">  </tmpTag2><br>
        <button  onclick="watching()"> 사용내역확인 </button><br>
        <button  onclick="booking()" >사용예약등록</button><br>

        <fieldset>
          <legend>가능한 서비스</legend>
          <button  onclick="manageWebPW()">웹사이트 계정관리</button><br>
          <button  onclick="manageBitcoinW()">비트코인 지갑관리</button><br>
          <button  onclick="manageAccessC()">중요파일 접근관리</button><br>
          <button  onclick="managePrivateKey()">비밀키 접근관리</button><br>
        </fieldset>
        <br>
        <button  onclick="logout()">logout</button><br>
    <% }else{ %>
        <h2> Please Login. choice.ejs 페이지 </h2>
    <% } %>
