<head>
<title>
    <%= title %>
</title>
<style>
body{
    background-color: black;
    border-color: white;
    color: white;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script>

    function watching(){
      var txt, x, myObj;
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

//          $("tmpTag2").append(this.responseText);
          myObj = JSON.parse(this.responseText);
          txt = "<table border='1'>"
          for (x in myObj) {
              txt += "<tr><td>"+x+"</td><td>" + myObj[x] + "</td></tr>";
          }
          txt += "</table>"
          document.getElementById("tmpTag2").innerHTML = txt;
        }
      };

      var alias = "<%= IDname %>";
      xmlhttp.open("POST", "/watching/"+alias, true);
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.send();
      //xmlhttp.send("IDname="+alias+"&"+"password=" + enroll_pw);
    }
    function booking(){

      location.href="/booking/"+ "<%= IDname %>"+"/"+ "<%= lang %>";
    }
    function manageWebPW(){
      location.href="/pwmanage/"+ "<%= IDname %>"+ "/"+"<%= lang %>";
    }

    function manageNote(){
      location.href="/secureNote/"+ "<%= IDname %>"+"/"+ "<%= lang %>";
    }

    // Create the XHR object.
    function createCORSRequest(method, url) {
      var xhr = new XMLHttpRequest();
      if ("withCredentials" in xhr) {
//      if (xhr) {
        // XHR for Chrome/Firefox/Opera/Safari.
        xhr.open(method, url, true);
      } else if (typeof XDomainRequest != "undefined") {
        // XDomainRequest for IE.
        xhr = new XDomainRequest();
        xhr.open(method, url);
      } else {
        // CORS not supported.
        xhr = null;
      }
      return xhr;
    }

    // Make the actual CORS request.
    function makeCorsRequest(url_R) {
      // This is a sample server that supports CORS.
//      var url = 'http://html5rocks-cors.s3-website-us-east-1.amazonaws.com/index.html';
      var url = url_R;

      var xhr = createCORSRequest('GET', url);
      if (!xhr) {
        alert('CORS not supported');
        return;
      }

      // Response handlers.
      xhr.onload = function() {
        var text = xhr.responseText;
//        var title = getTitle(text);
//        alert('Response from CORS request to ' + text);// + ': ' + title);
        document.getElementById("tmpTag2").innerHTML = text;
      };

      xhr.onerror = function() {
        alert('Woops, there was an error making the request.');
      };

      xhr.send();
    }

    function BitcoinBalanceCheck(){
      var invocation = new XMLHttpRequest();
      var url = 'https://blockchain.info/ko/balance?active=1MjgTF2seggBa8cztpkW6kwxQvPKiCTZn1&cors=true';  //&cors=true     이게 핵심
      //var xmlhttp = new XMLHttpRequest();

      makeCorsRequest(url);
    }

    function managePrivateKey(){
      alert("Under Construction.")
    }
    function logout(){
      location.href="/logout";
    }
    </script>
</head>

    <% if(IDname){ %>
        <h2>Welcome! <%= IDname %> <%= amount %>  <%= lang %> </h2>
        <tmpTag2 id="tmpTag2">  </tmpTag2><br>
        <button  onclick="watching()" data-langNum="0"> 사용내역확인 </button><br>
        <button  onclick="booking()" data-langNum="1">사용예약등록</button><br>

        <fieldset>
          <legend data-langNum="2">가능한 서비스</legend>
          <button  onclick="manageWebPW()" data-langNum="3">웹사이트 계정관리</button><br>
          <button  onclick="manageNote()" data-langNum="4">비밀메모장</button><br>
          <button  onclick="BitcoinBalanceCheck()" data-langNum="5">비트코인 밸런스체크</button><br>
          <button  onclick="managePrivateKey()" data-langNum="6">비밀키 접근관리</button><br>
        </fieldset>
        <br>
        <button  onclick="logout()">Logout</button><br>
    <% }else{ %>
        <h2> Please Login. choice.ejs 페이지 </h2>
    <% } %>

<script>
// 언어팩 선언.
$.lang = {};

$.lang.ko = {
    0: '사용내역확인',
    1: '사용예약등록',
    2: '가능한 서비스',
    3: '웹사이트 계정관리',
    4: '비밀메모장',
    5: '비트코인 밸런스체크',
    6: '비밀키 접근관리'
};

$.lang.en = {
    0: 'Able Booking Records',
    1: 'Making Booking',
    2: 'Available Services',
    3: 'Managing Website Accounts',
    4: 'Secured Note',
    5: 'Bitcoin Balance Check',
    6: 'Managing PrivateKey'
};


/**
* setLanguage
* use $.lang[currentLanguage][languageNumber]
*/
function setLanguage(currentLanguage) {
  console.log('setLanguage', arguments);

  $('[data-langNum]').each(function() {
    var $this = $(this);
    $this.html($.lang[currentLanguage][$this.data('langnum')]);
  });

  $('[data-langNum]').each(function() {
    var $this = $(this);
    $this.val($.lang[currentLanguage][$this.data('langnum')]);
  });
}

// 언어 변경
//$('button').click(function() {

var lang = "<%= lang %>";
if(lang != null)
  setLanguage(lang);

</script>
