<html>
  <head>
  <style>
  body{
      background-color: black;
      border-color: white;
      color: white;
      text-align: center;
  }

  table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
      float: none;
      margin: 0 auto;
  }
  th, td {
      padding: 5px;
      text-align: center;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

    <script>
    $(document).ready(function(){

      if (typeof(Storage) !== "undefined") {
          var note = JSON.parse(localStorage.getItem("mySecureNote"));
          if(note !== null){
            document.getElementById("secureNote").value = note;
          }else{
            document.getElementById("secureNote").value = "Any data on your Note.";
          }

      }else {
          document.getElementById("tableTag").innerHTML = "Sorry, your browser does not support Web Storage...";
      }
    });

  function storeUserData(){

    // Check browser support
    if (typeof(Storage) !== "undefined") {
        alert(document.getElementById("secureNote").value + "Stored.")
        localStorage.setItem("mySecureNote", JSON.stringify(document.getElementById("secureNote").value));
        document.getElementById("secureNote").value = "";
    } else {
        document.getElementById("tableTag").innerHTML = "Sorry, your browser does not support Web Storage...";
    }
  }

  function goToChoice(){
    var userName = "<%= IDname %>";
    var userLang = "<%= lang %>";
    location.href="/choice/"+userName +"/"+userLang;
  }
  function logout(){
    location.href="/logout";
  }
  </script>
  </head>
  <body>
    <% if(IDname){ %>
        <h2>Welcome! <%= IDname %> <%= amount %> </h2>

        <tableTag id="tableTag">  </tableTag>
        <table>
          <tr><td>비밀노트장</td></tr>
        <tr><td>
          <textarea name="secureNote" id="secureNote" rows="10" cols="30">Typing here what you want to save securely</textarea>
        </td></tr>
        <tr><td>
          <input type="button" id="storeButton" onclick="storeUserData()" value="저장/변경">
          <input type="button" value='나가기' id="goToChoiceId" onclick="goToChoice()"></tr>
        </td></tr>
        </table>


        <button  onclick="logout()">logout</button><br>
    <% }else{ %>
        <h2> Please Login. secureNote.ejs 페이지 </h2>
    <% } %>
  </body>

  <script>
  // 언어팩 선언.
  $.lang = {};

  $.lang.ko = {
      0: '비밀노트장',
      1: '저장/변경',
      2: '나가기',
  };

  $.lang.en = {
    0: 'Secret Note',
    1: 'Store/Edit',
    2: 'Leave',
  };


  /**
  * setLanguage
  * use $.lang[currentLanguage][languageNumber]
  */
  function setLanguage(currentLanguage) {
    console.log('setLanguage', arguments);

    $('[data-langNum]').each(function() {
      var $this = $(this);
      $this.html($.lang[currentLanguage][$this.data('langnum')]);
    });

    $('[data-langNum]').each(function() {
      var $this = $(this);
      $this.val($.lang[currentLanguage][$this.data('langnum')]);
    });
  }

  // 언어 변경
  //$('button').click(function() {

  var lang = "<%= lang %>";
  if(lang != null)
    setLanguage(lang);

  </script>
</html>
